body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.menu {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #EAEBEC;
	box-sizing: border-box;
}

.tab {
	height: 50px;
	font-size: 15px;
	font-family: "Arial";
	text-align: center;
	line-height: 50px;
	display: inline-block;
	padding: 0 25px;
	box-sizing: border-box;
	cursor: pointer;
}

.tab:hover {
	border-bottom: 2px solid #3591FB;
	color: #3591FB;
	box-sizing: border-box;
}

.content {
	padding: 25px 50px;
	text-align: justify;
}
